@using Entities
@using Business

<hr />
<a href="category/create">Agregar Nueva Categoría</a>
<hr />

@if (categories == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Referencia</th>
                <th>Categoria</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.CategoryId</td>
                    <td>@category.CategoryName</td>
                    <td><a href="product/update/@category.CategoryId">Actualizar Categoría</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    List<CategoryEntity> categories = new List<CategoryEntity>();

    protected override async Task OnInitializedAsync()
    {
        categories = B_Category.CategoryList();
    }
}